@media only screen and (max-width: 480px) and (orientation: portrait) {
    header {
        top: 0;
        right: 0;
        left: 0px;
        width: 100%;
        height: 64px;
        display: flex;
        position: fixed;
        background-color:white;
        border-bottom: 1px solid seashell;
        z-index: 1;
        justify-content: justify-between;
        align-items: center;
    }


    .logo-text {
        display: none;
    }

    nav {
        display: none;
    }

    .logo-container img {
        margin-top: 0px;
        margin-right: 20px;
    }

    .menu-icon {
        display: flex;
        cursor: pointer;
        justify-content: center;
        gap: 10px;
        margin-top: 5px;
        
    }

    .menu-icon a {
        text-decoration: none;
    }

    .menu-icon img {
        width: auto;
        height: 42px;
    }

    .section1 {
        display: flex;
        flex-direction: column;
    }

    .section1 img {
        width: 100%;
        height: auto;
        margin: 0 0;
    }

    .banner h2 {
        margin-left: 16px;
        margin-top: 32px;
        font-size: 42px;
    }
    
    .banner p {
        margin-left: 16px;
        margin-top: 32px;
    }
    
    .banner button {
        align-self: center;
        margin-left: 16px;
        padding: 8px 134px;
        margin-bottom: 32px;
    }

    .section2,
    .section4-child {
        width: 100%;
        display: inline-flex;
    }
    
    .container {
        display: none;
    }

    .right-side {
        margin-left: 0px;
    }

    .card {
        flex-direction: column;        
    }
    
    .card img {
        width: auto;
        height: auto;
    }
    
    .card-text {
        padding-left: 36px;
        margin-bottom: 64px;
    }
    
    .card-text p {
        line-height: 1;
    }

    .section3 {
        background-color: white;
        border-bottom: 1px solid #D8D8D8;
    }

    .section3 h1 {
        margin-top: 32px;
        margin-bottom: 0px;
    }

    .courses {
        display: none;
    }

    .linkpad {
        margin-left: 0px;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-top: 16px;
        align-items: center;
        margin-bottom: 32px;
    }
    
    .pad {
        display: flex;
        width: 300px;
        height: 48px;
        background-color: #D8D8D8;
        border-radius: 1px;
        border: 1px solid #DEE0E0;        
    }

    .pad h2 {
        margin-left: 16px;
        margin-top: 16px;
        margin-bottom: 24px;
        font-family: 'roboto';
        font-size: 16px;
    }

    .section4 {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .section4 h1 {
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .section4-child {
        flex-direction: column;
    }

    .container4 {
        width: 100%;
    }

    .image-section4 {
        width: 100%;
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
    }

    .image-section video {
        width: 100%;
    }

    .text-section {
        display: none;
    }

    .right-side4 {
        display: none;
    }

    footer{
        background-color: white;
    }
    
    footer p {
        margin-bottom: 16px;
        color: #4A4A4A;
    }

    .terms {
        display: none;
    }
}